<% include ../partials/header %> <!-- header -->
<% include ../partials/sidebar %> <!-- sidebar -->
<!-- Start Content -->

<div class="col-md-12">
    <section class="card">
        <div class="twt-feed blue-bg">
            <%# <div class="corner-ribon black-ribon">
                <i class="fa fa-twitter"></i>
            </div> %>
            <div class="fa fa-twitter wtt-mark"></div>

            <div class="media">
                <%# <a href="#">
                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="images/admin.jpg">
                </a> %>
                <div class="media-body">
                    <h2 class="text-white display-6">Kofi Mensah</h2>
                    <p class="text-light">Flagstaff House Home Cell</p>
                </div>
            </div>



        </div>
        <div class="weather-category twt-category">
            <ul>
                <li class="active">
                    <h5>Male</h5>
                   Gender
                </li>
                <li>
                    <h5>0244974545</h5>
                    Contact
                </li>
                <li>
                    <h5>3645</h5>
                    Total Attendance
                </li>
            </ul>
        </div>
        <div class="twt-write mx-auto">
            <div id="cal-heatmap"></div>
        </div>
        <footer class="twt-footer">
            <%# <a href="#"><i class="fa fa-camera"></i></a>
            <a href="#"><i class="fa fa-map-marker"></i></a>
            New Castle, UK
            <span class="pull-right">
                32
            </span> %>
        </footer>
    </section>
</div>

<!-- End Content -->
<% include ../partials/footer %> <!-- footer -->