<% include ../partials/header %> <!-- header -->
<% include ../partials/sidebar %> <!-- sidebar -->
<!-- Start Content -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Data Table</strong>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Home Cell</th>
                            <th>Occupation</th>
                            <th>Contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% members.forEach((member) => { %>
                            <tr>
                                <td><%= member.full_name %></td>
                                <td><%= member.home_cell %></td>
                                <td><%= member.occupation %></td>
                                <td><%= member.contact %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- End Content -->
<% include ../partials/footer %> <!-- footer -->